@model List<PDFReader.Controllers.abc>

@Html.BeginForm("index1", "Test", FormMethod.Post){

@*@for (int i = 0; i < Model.Count(); i++)
    {
        @Html.HiddenFor(m => Model[i].xx)
    }*@

<button type="submit"> submit</button>