@model List<PDFReader.Models.AnnouncementCategoryCount>
@{
    var l1 = new List<PDFReader.Models.AnnouncementCategoryCount>();
    var l2 = new List<PDFReader.Models.AnnouncementCategoryCount>();

    var other = Model.FirstOrDefault(x => x.CATEGORY.Equals(("Others")));

    var categories = Model.Skip(0).ToList();
    categories.Remove(other);

    var mainCat = categories.Where(x => x.PARENT_ID == null).ToList();
    var subcategories = categories.Where(x => x.PARENT_ID != null);
    mainCat = mainCat.Except(subcategories).ToList();

    foreach (var cat in mainCat) {
        var subCats = subcategories.Where(x => x.PARENT_ID == cat.CATEGORY_ID);
        cat.SubCategories = subCats.ToList();
    }



    if (mainCat.Count() % 2 == 0)
    {
        l1 = mainCat.GetRange(0, mainCat.Count() / 2);
        l2 = mainCat.GetRange(mainCat.Count() / 2, mainCat.Count() / 2);
    }
    else
    {
        l1 = mainCat.GetRange(0, mainCat.Count() / 2);
        l2 = mainCat.
            GetRange(mainCat.Count() / 2, (mainCat.Count() / 2) + 1);
    }

    if (other != null)
    { l2.Add(other); }

}

<div class="col-md-5">
    @Html.DisplayFor(model => l1)
</div>
<div class="col-md-5">
    @Html.DisplayFor(model => l2)
</div>