@model List<PDFReader.Models.AnnouncementCategoryCount>
@{
    var l1 = new List<PDFReader.Models.AnnouncementCategoryCount>();
    var l2 = new List<PDFReader.Models.AnnouncementCategoryCount>();

    var other = Model.FirstOrDefault(x => x.CATEGORY.Equals(("Others")));
    Model.Remove(other);

    if (Model.Count() % 2 == 0)
    {
        l1 = Model.GetRange(0, Model.Count() / 2);
        l2 = Model.GetRange(Model.Count() / 2, Model.Count() / 2);
    }
    else
    {
        l1 = Model.GetRange(0, Model.Count() / 2);
        l2 = Model.
            GetRange(Model.Count() / 2, (Model.Count() / 2) + 1);
    }

    l2.Add(other);

}

<div class="col-md-5">
    @Html.DisplayFor(model => l1)
</div>
<div class="col-md-5">
    @Html.DisplayFor(model => l2)
</div>