@model List<PDFReader.Models.AnnouncementCategoryCount>
@{
    var l1 = new List<PDFReader.Models.AnnouncementCategoryCount>();
    var l2 = new List<PDFReader.Models.AnnouncementCategoryCount>();

    var other = Model.FirstOrDefault(x => x.CATEGORY.Equals(("Others")));
    var copyObj = Model.Skip(0).ToList();


    copyObj.Remove(other);

    if (copyObj.Count() % 2 == 0)
    {
        l1 = copyObj.GetRange(0, copyObj.Count() / 2);
        l2 = copyObj.GetRange(copyObj.Count() / 2, copyObj.Count() / 2);
    }
    else
    {
        l1 = copyObj.GetRange(0, copyObj.Count() / 2);
        l2 = copyObj.
            GetRange(copyObj.Count() / 2, (copyObj.Count() / 2) + 1);
    }

    if (other != null)
    { l2.Add(other); }

}

<div class="col-md-5">
    @Html.DisplayFor(model => l1)
</div>
<div class="col-md-5">
    @Html.DisplayFor(model => l2)
</div>