<!-- [ navigation menu ] start -->
<nav class="pcoded-navbar menu-light navbar-collapsed">
    <div class="navbar-wrapper  ">
        <div class="navbar-content scroll-div ">

            @*<div class="">
                <div class="main-menu-header">
                    <img class="img-radius" src="@Url.Content("Content/assets/images/user/avatar-2.jpg")" alt="User-Profile-Image">
                    <div class="user-details">
                        <div id="more-details">Designation <i class="fa fa-caret-down"></i></div>
                    </div>
                </div>
                <div class="collapse" id="nav-user-link">
                    <ul class="list-inline">
                        <li class="list-inline-item"><a href="user-profile.html" data-toggle="tooltip" title="View Profile"><i class="feather icon-user"></i></a></li>
                        <li class="list-inline-item"><a href="email_inbox.html"><i class="feather icon-lock" data-toggle="tooltip" title="Change Password"></i></a></li>
                        <li class="list-inline-item"><a href="auth-signin.html" data-toggle="tooltip" title="Logout" class="text-danger"><i class="feather icon-log-out"></i></a></li>
                    </ul>
                </div>
            </div>*@

            <ul class="nav pcoded-inner-navbar ">
                <li class="nav-item pcoded-menu-caption">
                    <label>Read Inside PDF</label>
                    <ul class="pcoded-submenu">
                        <li><a href="/Home">Company List</a></li>
                        <li><a href="/KeywordSet">Keyword Set Master</a></li>
                        <li><a href="/Keyword">Keywords</a></li>
                        <li><a href="/Report">Execute Search</a></li>
                    </ul>
                </li>
          
                <li class="nav-item pcoded-menu-caption">
                    <label>Corporate Announcement</label>
                    <ul class="pcoded-submenu">
                        <li><a href="/Watchlist">Watchlist Company</a></li>
                        <li><a href="/Category">Category</a></li>
                        <li><a href="/Announcement">Announcement</a></li>
                        <li><a href="/Announcement/Settings">Alert Settings</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!-- [ navigation menu ] end -->